{% extends 'base.html.twig' %}

{% block title %}Libro index{% endblock %}

{% block body %}
    <h1>Listado de Libros</h1>

    {% dump(libros) %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Num. Páginas</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.getId() }}</td>
                <td>{{ libro.getTitulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.numPaginas }}</td>
                <td>
                    <a href="{{ path('libro_show', {'id': libro.id}) }}">mostrar</a>
                    <a href="{{ path('libro_edit', {'id': libro.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay libros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('libro_new') }}">Create new</a>
{% endblock %}
